<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Authentication_Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Authentication_Server.Properties.Settings>
            <setting name="HostPort" serializeAs="String">
                <value>7001</value>
            </setting>
            <setting name="SqlHost" serializeAs="String">
                <value>192.168.16.202</value>
            </setting>
            <setting name="SqlPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="SqlDatabase" serializeAs="String">
                <value>AuthServer</value>
            </setting>
            <setting name="SqlUser" serializeAs="String">
                <value>authserver</value>
            </setting>
            <setting name="SqlPassword" serializeAs="String">
                <value>12345</value>
            </setting>
        </Authentication_Server.Properties.Settings>
    </userSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
